# Env
.env
.env.*
!.env.example

# Compiled output
dist
tmp
out-tsc

# Dependencies
node_modules

# IDEs
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/.sass-cache
/connect.lock
/coverage
npm-debug.log
yarn-error.log
testem.log

# System
.DS_Store
Thumbs.db

# Nx
.nx/cache
.nx/workspace-data

# Nuxt
.output
.data
.nuxt
.nitro
.cache

# Prisma generated
libs/shared/db/generated

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions